.container {
  max-width: var(--meal-card-width);
  text-decoration: none;
  display: flex;
  background-color: rgb(245, 244, 244);
  border-radius: 15px;
  overflow: hidden;
}

.container > a {
  text-decoration: none;
}

.title {
  text-align: center;
  color: black;
  font-size: 16px;
  padding: 4px;
  font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.thumbnail {
  width: auto;
  height: auto;
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}
