html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

/* GLOBAL VARIABLES */
:root {
  /* Meal Card */
  --meal-card-width: 160px;

  /* Weekly View */
  --max-container-width: calc(calc(32 + var(--meal-card-width)) * 7);
}
